<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Listas - Vuejs</title>
</head>
<body>
    <div id="main">
        <ul>
            <!-- 4.Pasar datos a una lista en html-->
            <!-- <li v-for="item in people">{{ item }}</li> -->
            <!--Otra Alternativa para mostrar los datos de la lista -->
            <li v-for="item in people" v-text="item"></li>
        </ul>
        <!-- Agregar nuevos nombres de forma dinámica a la lista -->
         <!--6. Al soltar la tecla enter se ejecuta el método addName -->
        <input type="text" v-model="name" v-on:keyup.enter="addName">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript">
        // 1. Se Crea un Objeto Vue
        new Vue({
            // 2. Elemento para vincular el objeto vue con un elemento html
            el: '#main',
            data: {
                // 3. Crear un array en vue
                people: ['linda', 'nacho', 'pepe', 'maria']
            },
            name: '', // 5. Se coloca vacío para vincular la caja de texto con el objeto vue
            methods: { // 7. Configuración del método addName
                addName: function(){
                    this.people.push(this.name); // 7.1. Se le dice: agrega lo que esta en la caja de texto 'name' 
                    this.name = ''; // 7.2. Luego de que lo agregues, coloca la caja en blanco
                }
            }
        });
    </script>
</body>
</html>