<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>V-BIND - Vuejs</title>
</head>
<body>
    <div id="main">
        <!--Enlazar Contenido-->
        <input type="text" v-model="info">
        <p v-bind:title="info">Texto de relleno ... {{ info }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript">
        
        new Vue({
            el: '#main',
            data: {
                info: '' // Vacio
            }
        });
    </script>

</body>
</html>