<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vuejs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="main" class="container">
        <div class="row">
           <div class="col-sm-4">
                <h1 class="text-center">Lista VUEjs - AJAX</h1>
                <ul class="list-group">
                    <li v-for="item in lists" class="list-group-item">
                        {{ item.name }}
                    </li>
                </ul>
           </div>
           <div class="col-sm-8">
                <h1 class="text-center">JSON</h1>
                <pre>
                    {{ $data | json }}                    
                </pre>
           </div>
       </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!--Librería axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript">
        // Conexión a APIs
        var urlUsers = 'https://jsonplaceholder.typicode.com/users';
        new Vue({
            el: '#main',
            created: function() {
                this.getUsers();
            },
            data: {
                lists: []
            },
            // Conexión a través de la url, Guardar los datos en list, mostrados en #main
            methods: {
                getUsers: function() {
                    // Método de conexión, en "response" se guardaran todos los datos si la conexión se establece sin problemas
                    // Sentencia con Librería axios
                    axios.get(urlUsers).then(response => {
                        this.lists = response.data;
                    });
                }
            } 
        });
    </script>
</body>
</html>
