<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vuejs V-SHOW</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Escribe algo ...</h3>
                </div>
                <div class="col-md-5">
                    <input type="text" v-model="email" class="form-control">
                </div>
                <div class="col-md-1">
                    <input type="submit" v-show="email" class="btn btn-primary">
                </div>
                <!--  Directiva, es aquello que se utiliza para que las etiquetas o elementos ejecuten una acción, v-model para enlazar / v-show para mostrar  -->
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript">
        
        new Vue({
            el: '#main',
            data: {
                email: ''
            }
            
        });
    </script>
</body>
</html>