<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vuejs Component</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="main" class="container">
        <div class="row">
           <div class="col-sm-4">
                <h1 class="text-center">Albun</h1>
                <common-list v-bind:lists="albums"></common-list>
           </div>
           <div class="col-sm-4">
                <h1 class="text-center">Posts</h1>
                <common-list v-bind:lists="posts"></common-list>
           </div>
           <div class="col-sm-4">
                <h1 class="text-center">Photos</h1>
                <common-list v-bind:lists="photos"></common-list>
           </div>
           <div class="col-sm-12">
                <h1 class="text-center">JSON</h1>
                <pre>
                    {{ $data | json }}                    
                </pre>
           </div>
       </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!--Librería axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript">
        
        Vue.component('common-list',{
            props    : ['lists'],
            template : `<ul class="list-group">
                            <li v-for="item in lists" class="list-group-item">
                                {{ item.title }}
                            </li>
                        </ul>`,
        });

        // Conexión a APIs
        var urlPosts = 'https://jsonplaceholder.typicode.com/posts';
        var urlAlbums = 'https://jsonplaceholder.typicode.com/albums';
        new Vue({
            el: '#main',
            created: function() {
                this.getPosts();
                this.getAlbums();
            },
            data: {
                posts: [],
                albums: [],
                photos: [
                    {title: 'foto 1'},
                    {title: 'foto 2'},
                ]
            },
            methods: {
                getPosts: function() {
                    axios.get(urlPosts).then(response => {
                        this.posts = response.data;
                    });
                },
                getAlbums: function() {
                    axios.get(urlAlbums).then(response => {
                        this.albums = response.data;
                    });
                },
            } 
        });
    </script>
</body>
</html>
